@import 'tailwindcss';
@plugin '@tailwindcss/typography';

html {
	@apply bg-sky-950 text-slate-200;
}
button,
.button {
	@apply rounded border-slate-900 bg-blue-950 px-3 py-1 text-slate-200 hover:bg-blue-800;
}
